<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434228822083-912cdbuch5knmf14giofegu2me28rmoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434228822083-912cdbuch5knmf14giofegu2me28rmoq</string>
	<key>API_KEY</key>
	<string>AIzaSyB_r_2148AgEBSoHBrCptRijUFZOFTYeCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>434228822083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DingyiKang.PhotoApp</string>
	<key>PROJECT_ID</key>
	<string>photo-app-955bc</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-app-955bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434228822083:ios:06979c6f1e8ae9bc5d14f6</string>
</dict>
</plist>